.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 10vh;
  width: 100%;
  background-color: transparent;
  text-align: center;
}

.navBarImg {
  width: 4rem;
  height: 4rem;
  margin-left: 10%;
}

.navLinks {
  padding-left: 50px;
  margin-left: 50px;
}

#shorterLogo{
  width: 45%;
  float: left;
  margin-left: 50%;
}
#longerLogo {
  width: 70%;
}
