<div class="footer">

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <!-- logo -->
      <li class="navLinks">
        <a class="nav-link" href="http://www.ideo.com" id="shorterLogo">
          <img src="../assets/img/logo.png" alt="logo" class="navBarImg" >
        </a>
      </li>
      <!-- other logo -->
      <li class="navLinks" >
        <a class="nav-link" href="http://www.ideo.com">
          <img src="../assets/img/coolerLogo.png" alt="logo" class="navBarImg" id="longerLogo">
        </a>
      </li>
        <!-- copyright -->
      <li class="navLinks">
        <div class="">
          &copy; IDEO 2018
        </div>
      </li>
        <!-- Terms and conditions -->
      <li class="navLinks">
        <a href="#">Terms and Conditions</a>
      </li>
      <!-- Privacy and Cookies -->
      <li class="navLinks">
        <a class="nav-link disabled" href="#">Pirvacy and Cookies</a>
      </li>
      <!-- FAQ -->
      <li class="navLinks">
        <a href="#">FAQ</a>
      </li>
      <!-- Contact Us -->
      <li class="navLinks">
        <a href="#">Contact Us</a>
      </li>

    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
</div>
