<!-- login form -->
<div class="loginform">
  <div class="login_header">
    <div class="login_spacers">
      <h3>Hello Design Thinking</ h3>
    </div>
    <div class="login_spacers">
      <h4>New to Design Thinking?</h4>
      <<h4><a href="#" class="links">Register here.</a></h4>
    </div>
  </div>
  <div class="form">
    <form class="loginForm" action="index.html" method="post">
      <input #email class="loginFormInput" type="email" name="login_email" value="" placeholder="Email" id="login_email">
      <input #password class="login_form" type="text" name="loginFormPword" value="" placeholder="Password" id="loginFormPword">
      <p id="forgotPWord"><a href="#" id="forgotPWord">Forgot password?</a></p>
      <button (click)="login(email.value, password.value); email.value=''; password.value=''; " class="btn btn-dark" id="login_button" type="button" name="login_button" routerLink="profile">Login</button>
    </form>
  </div>
  <div>
    <p>By cliciking this button, you agree to <a href="#" class="links">IDEOU's Privacy Policy</a> & <a href="#" class="links">Terms and Conditions</a></p>
  </div>

</div>
