<!--The content below is only a placeholder and can be replaced.-->

<div class="background">
  <app-background></app-background>

<div class="mainContainer">
  <div class="user-functions">
      <!-- what do I pass into the click directive? -->
      <button class="btn btn-light" type="button" name="button" (click)="registerButtonClicked()">Register</button>
      <button class="btn btn-dark" type="button" name="button" (click)="loginButtonClicked()">Login</button>
</div>
  <app-user></app-user>
</div>

<div class="container">
  <app-navbar></app-navbar>
</div>

</div>
