


<!-- login form -->
<div class="loginform">
  <div class="login_header">
    <div class="login_spacers">
      <h3>Hello Design Thinking</ h3>
    </div>
    <div class="login_spacers">
      <h4>New to Design Thinking?</h4>
      <<h4><a href="#" class="links">Register here.</a></h4>
    </div>
  </div>
  <div class="form">
    <form class="loginForm" action="index.html" method="post">
      <input class="loginFormInput" type="email" name="login_email" value="" placeholder="Email" id="login_email">
      <input class="login_form" type="text" name="loginFormPword" value="" placeholder="Password" id="loginFormPword">
      <p id="forgotPWord"><a href="#" id="forgotPWord">Forgot password?</a></p>
      <button class="btn btn-dark" id="login_button" type="button" name="login_button">Login</button>
    </form>
  </div>
  <div>
    <p>By cliciking this button, you agree to <a href="#" class="links">IDEOU's Privacy Policy</a> & <a href="#" class="links">Terms and Conditions</a></p>
  </div>

</div>

<!-- register form -->
<div class="register_form">
  <div class="login_spacers">
    <h3>Get started with Hello Design Thinking!</h3>
  </div>
    <div class="login_spacers">
      <h4>Already have an account?<a href="#" class="links">Log in here</a></h4>
    </div>
      <div class="form">
        <form class="registration_form" action="index.html" method="">
          <div class="row">
            <div class="col-lg-6">
              <input id="firstName" type="text" name="firstName" value="" placeholder="First Name*">
            </div>
            <div class="col-lg-6">
              <input id="lastName" type="text" name="lastName" value="" placeholder="Last Name*">
            </div>
          </div>
          <input id="companyName" type="text" name="companyName" value="" placeholder="Company Name*">
          <input id="jobTitle" type="text" name="jobTitle" value="" placeholder="Job Title*">
          <input id="email" type="email" name="email" value="" placeholder="Email*">
          <input id="password" type="password" name="password" value="" placeholder="Password*">
          <input id="confirmPassword" type="password" name="confirmPassword" value="" placeholder="Confirm Password*">
          <div>
            <label for="newsLetterOptIn">
              <input type="checkbox" name="newsLetterOptIn" value="">&nbsp; I'd like to recieve communications from IDEO U about offers, news and opportunities.
            </label>
              <input class='btn btn-dark' type="submit" name="submit-registration" value="">
            </div>
        </form>
      </div>
</div>
