

<div class="user-functions">
  <button class="btn btn-light" type="button" name="button">Register</button>
  <button class="btn btn-dark" type="button" name="button">Login</button>

  <div class="register">
    <div class="subHeaderRegister-1">
      <p>Get started with Hello Design Thinking!</p>
      <div class="subHeaderRegister-2">
        <p>Already have an account?</p>
        <a href="#">Log in here</a>
        <div class="miniForm">
          <form class="registration-form" action="index.html" method="post">
            <div class="row">
              <div class="col-lg-6">
                <input id="firstName" type="text" name="firstName" value="" placeholder="First Name*">
              </div>
              <div class="col-lg-6">
                <input id="lastName" type="text" name="lastName" value="" placeholder="Last Name*">
              </div>
          </div>
            <input id="companyName" type="text" name="companyName" value="" placeholder="Company Name*">
            <input id="jobTitle" type="text" name="jobTitle" value="" placeholder="Job Title*">
            <input id="email" type="email" name="email" value="" placeholder="Email*">
            <input id="password" type="password" name="password" value="" placeholder="Password*">
            <input id="confirmPassword" type="password" name="confirmPassword" value="" placeholder="Confirm Password*">
            <div>
              <label for="newsLetterOptIn">
                <input type="checkbox" name="newsLetterOptIn" value="">&nbsp; I'd like to recieve communications from IDEO U about offers, news and opportunities.
              </label>
              <div class="formErrors" ng-show></div>
              <div>
                <input class='btn btn-dark' type="submit" name="submit-registration" value="">
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>


  <div class="login">

  </div>
</div>
