.register {
position: absolute;
left: 0px;
top: 0px;
right: 0px;
z-index: 2001;
/* display: none; */
overflow: scroll;
width: 700px;
height: auto;
max-width: 100%;
margin: 100px auto;
padding: 40px;
background-color: #fff;
}

.subHeaderRegister-1{

}

.subHeaderRegister-2 {

}

.registration-form {
/* display: block; */
width: 100%;
margin: 20px auto;
padding-top: 10px;
padding-right: 0px;
padding-bottom: 10px;
clear: both;
align-items: center;
}
